/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;1,100;1,300&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html,
body {
    height: 100%;
}

html {
    /* по умолчанию */
    font-size: 16px;
}

body {
    font-style: normal;
    line-height: 1;
    color: #4b4b4b;
    font-family: "Montserrat";
    font-weight: 500;
    color: rgb(0, 0, 0);
    /* overflow: hidden; */
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* ------------------------------ */

[class*="__container"]{
    max-width: 95vw;
    margin: 0 auto;
}

.header {
    background-color: black;
}

.header__main {}

.header__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;
}

.header__logo {
    display: flex;
}

.header__img {
    align-self: center;
    justify-content: center;
}

.header__img:not(:last-child){
    margin: 0 19px 0 0;
}

.header__text {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    align-self: center;
    justify-content: center;
}

.header__nav {
    display: flex;
    align-self:center;
    justify-content: center;
}

.nav__list {}

.nav__ul {
    display: flex;
    justify-content: space-between;
    width: 42vw;
}

.nav__li{
    display: flex;
}


.nav__li a {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    transition: 0.2s linear all;
}

.nav__li a:hover{
    color: #FC8700;
    border-bottom: 1px solid #FC8700;
}

.activ a {
    color: #FC8700;
    border-bottom: 1px solid #FC8700;
}

main {
    flex: 1 1 auto;
}

.company__text{
    display: flex;
    flex-direction: column;
    max-width: 95vw;
    margin: 0 auto;
    flex: 1 1 auto;
    height: 100%;
    align-self: center;
    justify-content: center
}


/********************************************/
.main{
    flex: 1 1 auto;
}


.main__flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.main__link {
    padding: 10px 0 0 0;
    display: flex;
    margin-bottom: 10px;
}

.main__ul {
    display: flex;
    gap: 0px 20px;
    position: relative;
}

.main__li {}

.main__company {
    display: flex;
    width: 100%;
    margin: 0 -12px;
    margin-bottom: 70px;
}

.main__li a {
color: #000;
text-align: center;
font-family: Montserrat;
font-size: 12px;
font-weight: 600;
text-transform: uppercase;
border-bottom: 1px solid black;
}

.main__li:nth-child(1)::before{
    content:"";
    position: absolute;
    display: block;
    right: 52%;
    bottom: 10%;
    background-image: url(../icons/next.svg);
    background-repeat: no-repeat;
    background-size:contain;
    width: 10px;
    height: 10px;
}

footer {
    background-color: black;
    padding: 5px 0;
}

.footer__main{
    display:flex;
    justify-content: space-between;
}

.footer__text {
    color: #FEF9F9;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.2;
}
.footer__link {
    display: flex;
    align-self: center;
}

.link__item a{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    transition: 0.2s all linear;
}

.link__item:not(:last-child){
    margin-right: 60px;
}

.link__item a:hover{
    color:#FC8700;
}

.title {
    display: inline-block;
    color: #0B0B0B;
    font-size: 35px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    margin: 0px auto;
}

.title::before {
    content: "";
    width: 80px;
    height: 1px;
    border: 1px solid #FC8700;
    display: inline-block;
    position: relative;
    margin: 0 10px 10px 0;
}

.title::after {
    content: "";
    width: 80px;
    height: 1px;
    border: 1px solid #FC8700;
    display: inline-block;
    position: relative;
    margin: 0 0 10px 10px;
}

.products {
    text-align: center;
    padding: 0 20px;
}

.products__container {}

.products__section {
    padding-bottom: 15px;
}

.products__items {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 0 0;
    gap: 10px;
}

.products__item {
    /* padding: 0 8px; */
    flex: 1 1 30%;
}

.item__products {
    display: flex;
    border: 1px solid rgba(0, 0, 0, .3);
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
}

.products__img {
    display: flex;
    flex: 1 0 20vh;
    width: 250px;
    justify-content: center;
    align-items: flex-end;
}

.products__img:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.products__img img {
    max-width: 100%;
    max-height: 500px;
    transition: all 0.3s linear;
    transform: scale(0.9);
}

.products__title {
    padding: 15px 5px;
    word-break: break-all;
    background-color: #FC8700;
    justify-content: center;
    display: flex;
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    height: 100%;
    width: 100%;
    font-weight: 600;
    transition: all 0.3s linear;
}

.item__products:hover .products__title {
    background-color: #000;
    color: #FC8700;
    ;
}

.item__products:hover img {
    transform: scale(1);
}